html, body {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
}

body { 
    padding-top: 70px; 
}

tr, td, th{
    vertical-align: center;
}

small {
    color: #777    
}


.app-container {
    margin: 0 auto;
}

.nav .navbar-brand {
    font-family: "Lobster"; 
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #AA3939;
}


.below-app p {
    line-height: 1.6;
}
