html, body {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
}

h3 {
    font-family: "Lobster"; 
    font-style: normal;
    font-weight: 400;
}

tr, td, th{
    vertical-align: center;
}

small {
    color: #777    
}

.container-fluid {
    width:700px;
    margin: 0 auto;
}

.app-container {
    width: 700px;
    margin: 0 auto;
}

.below-app p {
    line-height: 1.6;
}
